			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/user-512.png" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>User</strong>
								<span class='subline'>Doctor</span>
							</div>
						</div>
					</div>
				</div>


				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">main</li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>常用功能</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/index.html" data-ajax='false'>首頁</a></li>
					</ul>
				</div>
				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>病患</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="/pages/personlist.html" data-ajax='false' data-icon="false">病患列表</a></li>
						<li><a href="/pages/createNewPerson.html" data-ajax='false'>新增病患</a></li>
					</ul>
				</div>
				<hr class="inset">
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">other</li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>其他</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="#" data-ajax='false'>設定</a></li>
						<li><a href="#" data-ajax='false'>關於我</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->
